<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Cool Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="//unpkg.com/alpinejs" defer></script>

  </head>
  <body >

              <div class="d-flex align-items-center flex-column">
                {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p class="text-danger">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
                {% endwith %}
              </div>

              <div class="d-flex gap-4 justify-content-center">
                <form action="/submit" method = "POST">
                  <input type="hidden" name="action" value="register">                
                  <h1>Register</h1>
                  <div class="form-group">
                    <label for="first">First Name:</label>
                    <input type="text" class="form-control" name="first_name" id="first" aria-describedby="helpId" placeholder="first name ...">
                    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                  </div>
                  
                  <div class="form-group">
                    <label for="last">Last Name:</label>
                    <input type="text" class="form-control" name="last_name" id="last" aria-describedby="helpId" placeholder="last name ...">
                    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                  </div>
      
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="email ...">
                    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                  </div>
      
                  <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="text" class="form-control" name="password" id="pass" aria-describedby="helpId" placeholder="password ...">
                    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                  </div>
                  
                  <button type="submit" class="btn btn-primary">Register</button>
      
              </form>
  
              <form action="/submit" method = "POST">
                  <input type="hidden" name="action" value="login">                
                  <h1>Login</h1>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="email ...">
                    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                  </div>
      
                  <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="text" class="form-control" name="password" id="pass" aria-describedby="helpId" placeholder="password ...">
                    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                  </div>
                  
                  <button type="submit" class="btn btn-primary">Login</button>
      
      
              </form>
              </div>
              
    
              
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>